.invoice-modal {
    table-layout: auto;
    margin-top: auto;
    margin-bottom: auto;
    /* border: 1px solid black */
}

.invoice-modal table {
    border: 1px solid black;
    background: #eee;
    font-size: 11px;
}

.invoice-modal th {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background: #aaa;
    font-size: 11px;
}

.invoice-modal td {
    font-size: 11px;
}
